body {
  color: #555;
  padding: 10px;
  background-color: #f5f2e8;
}

.form-div {
  padding: 25px;
  margin-bottom: 50px;
  border-radius: 5px;
  background-color: #f2ead0;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 15px;
}

.form-input,
.form-button,
.load-more {
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  color: #555;
  background-color: #f2ead0;
  border: 1px solid #e0dcb1;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.form-button:hover,
.load-more:hover {
  background-color: #e0dcb1;
  box-shadow: 0px 4px 2px rgba(46, 47, 66, 0.1),
    0px 2px 2px rgba(46, 47, 66, 0.2), 0px 2px 8px rgba(46, 47, 66, 0.1);
}

.gallery {
  padding: 0px 150px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 50px;
}

.photo-card,
.load-more {
  max-width: 350px;
  border-radius: 5px;
  background-color: #f2ead0;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.photo-card:hover {
  object-fit: cover;
  transform: scale(1.03);
}

.visibility-hidden {
  visibility: hidden;
}
